h1 {
  font-size: 100px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
}

.grid-item {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 75px;
  text-align: center;
  /* background-color: #212529; */
  color: #dc3545;
  font-size: 30px;
  font-weight: bold;
}

.container {
  text-align: center;
  margin-top: 75px;
}

img {
  max-width: 100px;
}
